# Exclude directories
data/
my_interproscan/
stringtiedb/
dist-newstyle/
analysis/GSE*/
analysis/SRP*/
analysis/melanoma*/
analysis/all_domains.tsv

# Exclude files
*.fastq
*.fastq.gz
*.fasta
*.gtf
*.gff
*.bam
*.bed
*.db
*.fna.fai
*.fna
*tmp*
*temp*

# Exclude specific directories
analysis/ballgown_version2/
analysis/ballgown/
analysis/STARIndex/
_STARtmp/
__pycache__/
.cache/
.ipynb_checkpoints/

# Exclude specific files
*.pyc
*.RData
*.[oa]
*~
*.Rhistory
*.log
