# Exclude specific directories
data/
my_interproscan/
stringtiedb/
dist-newstyle/
analysis/GSE*/
analysis/SRP*/
analysis/melanoma*/
analysis/all_domains.tsv
scripts/config.py
scripts/spliceomat-env/
scripts/mod_array.so

# Exclude biological files
*.fastq
*.fastq.gz
*.fasta
*.gtf
*.gff
*.bam
*.bed
*.db
*.fna.fai
*.fna

# Exclude specific directories
analysis/ballgown_version2/
analysis/ballgown/
analysis/STARIndex/

# Exclude tmp, cache, etc.
*tmp*
*temp*
_STARtmp/
__pycache__/
.cache/
.ipynb_checkpoints/
*.pyc
*.RData
*.[oa]
*~
*.Rhistory
*.log
.ipynb_checkpoints/

